body {
    background-color: beige;
}

@media (min-width: 890px) {
    ion-icon {
        color: #464646;
        font-size: 30px;
        position: absolute;
        right: 15px;

    }
}

ion-icon {
    color: #464646;
    font-size: 30px;
}

ion-icon:hover {
    color: black;
    background-color: beige;
    border-radius: 25%;
    transition: all .5s;

}

.divCardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: cover;
    padding: 15px;
    margin: 20px;
}

.font-header {
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}

.card-detail{ 
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.div-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-properties{ 
    display: flex;
    align-items: flex-start;
}
.font-ty{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.div-cart{
    display: flex;
    position: relative; 
    bottom: 80px;
    left: 100px;
}

.cartView{ 
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.emptyCart{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.goShop{ 
    text-decoration: none;
    color: blue;
}
.goShop:hover{ 
    text-decoration: underline;
}

.zIndex {
    z-index: -10;
}


