body {
    background-color: beige;
}

@media (min-width: 890px) {
    ion-icon {
        color: #464646;
        font-size: 30px;
        position: absolute;
        right: 1.5em;

    }
}

ion-icon {
    color: #464646;
    font-size: 30px;
}

ion-icon:hover {
    color: black;
    background-color: beige;
    border-radius: 25%;
    transition: all .5s;

}

.ul-category {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
}

.li-category {
    margin: 10px;
}

.nav_link:hover {
    color: black;
    border-radius: 5px;
    background-color: #ece4a4;
    transition: all .8s;
}



.divCardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: cover;
    padding: 15px;
    margin: 20px;
}

.font-header {
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.card-detail {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.div-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-properties {
    display: flex;
    align-items: flex-start;
}

.font-ty {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.div-cart {
    display: flex;
    position: relative;
    bottom: 80px;
    left: 100px;
}

.cartView {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartViewImg{ 
    width: 300px;
    margin-left: 300px;
    max-height: 20em;
}

.cartViewDiv{ 
    margin-right: 20px;
    text-align: center;
}

@media (max-width: 1015px){ 
    .cartView{
        display: block;
        align-items: center;
        margin-right: 20px;
    }
    .cartViewImg{ 
        object-fit: contain;
        min-height: 50vh;
        width: 100%;
        margin-left: 10px;
    }
    .cartViewDiv{
        margin-left: 20px;
        background-color: beige;
    }
   
}

.emptyCart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.goShop {
    text-decoration: none;
    color: blue;
}

.goShop:hover {
    text-decoration: underline;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
}

.zIndex {
    z-index: -10;
}